<template>
   <div>
       <a class="ac-address-remove" @click="addressRemove(address)">remove</a>
   </div>
</template>

<script>

export default {
    name: 'AddressRemove',
    props: ['address'],
    methods: {
        addressRemove(address) {
            this.$store.dispatch('addressRemove', address);
        }
    }
};
</script>
