<template>
    <div class="ac-address-add-wrapper">
        <div class="ac-address-add-cta" @click="addNewAddress = !addNewAddress">Add new address</div>
        <AddressAddNewForm v-show="addNewAddress"/>
    </div>
</template>

<script>
import AddressAddNewForm from '../addresses/AddressAddNewForm.vue';

export default {
    name: 'AddressAddNew',
    components: { AddressAddNewForm },
    data() {
        return {
            addNewAddress: false
        };
    }
};
</script>
