<template>
    <div class="ac-address-add-form">
        <form action="">
            <label for="">Address Name</label>
            <input type="text" v-model="addressName" />
            <label for="">Address1</label>
            <input type="text" v-model="address1" />
            <label for="">Address2</label>
            <input type="text" v-model="address2" />
            <label for="">Zip</label>
            <input type="text" v-model="zip" />
            <label for="">State</label>
            <input type="text" v-model="state" />
            <label for="">Country</label>
            <input type="text" v-model="country" />
            <label for="">make default</label>
            <input type="checkbox" v-model="makeDefault" />

            <button @click="addressSave()">Save</button>
            <button @click="addressClear()">Clear</button>
        </form>
    </div>
</template>

<script>

export default {
    name: 'AddressAddNewForm',
    data() {
        return {
            addressName: null,
            address1: null,
            address2: null,
            zip: null,
            state: null,
            country: null,
            makeDefault: false,
            addressDetails: {}
        };
    },
    methods: {
        addressSave() {
            this.addressDetails = {
                ID: '002',
                name: this.addressName,
                address1: this.address1,
                address2: this.address2,
                zip: this.zip,
                state: this.state,
                country: this.country,
                default: this.makeDefault
            };

            this.$store.dispatch('addressSave', this.addressDetails);
        },
        addressClear() {
            this.addressName = null;
            this.address1 = null;
            this.address2 = null;
            this.zip = null;
            this.state = null;
            this.country = null;
            this.makeDefault = false;
            this.addressDetails = {};
        }
    }
};
</script>
