<template>
    <div class="ac-address-list">
        <h3>All addresses</h3>
        <AddressAddNew />
        <div class="ac-address" v-for="(address,key) in addresses" :key="key">
            <Address :address="address" />
            <AddressMakeDefault :address="address" v-if="address.default != true" />
            <AddressRemove :address="address" />

        </div>
    </div>
</template>

<script>
import Address from '../addresses/Address.vue';
import AddressMakeDefault from '../addresses/AddressMakeDefault.vue';
import AddressRemove from '../addresses/AddressRemove.vue';
import AddressAddNew from '../addresses/AddressAddNew.vue';

export default {
    name: 'AddressList',
    components: { Address, AddressMakeDefault, AddressRemove, AddressAddNew },
    props: ['addresses']
};
</script>
