<template>
    <div class="ac-address">
        <h3>{{address.name}}</h3>
        <address>
            <span class="ac-name">{{address.name}}</span>
            <span class="ac-address1">{{address.address1}}</span>
            <span class="ac-address2" v-if="address.address2">, {{address.address2}}</span>
            <span class="ac-zip" v-if="address.zip">, {{address.zip}}</span>
            <span class="ac-state" v-if="address.state">, {{address.state}}</span>
            <span class="ac-country" v-if="address.country">, {{address.country}}</span>
        </address>
    </div>
</template>

<script>
export default {
    name: 'Address',
    props: ['address']
};
</script>
