<template>
   <div>
       <a class="ac-address-make-default" @click="addressMakeDefault(address)">make default</a>
   </div>
</template>

<script>

export default {
    name: 'AddressMakeDefault',
    props: ['address'],
    methods: {
        // @TODO: reorder address elements
        addressMakeDefault(address) {
            this.$store.dispatch('addressMakeDefault', address.ID);
        }
    }
};
</script>
