<template>
    <div class="ac-payment">
        <h1>{{payment.name}}</h1>
        <p>{{payment.number}}</p>
        <p>{{payment.type}}</p>
        <p>{{payment.expiration}}</p>
    </div>
</template>

<script>

export default {
    name: 'Payment',
    props: ['payment']
};
</script>
