<template>
    <div class="ac-payment-add-form">
        <form action="">
            <label for="">Name on card</label>
            <input type="text" v-model="ccName"/>
            <label for="">Number</label>
            <input type="text" v-model="ccNumber" />
            <label for="">Type</label>
            <input type="text" v-model="ccType" />
            <label for="">Expiration</label>
            <input type="text" v-model="ccExpiration" />

            <label for="">Make default</label>
            <input type="checkbox" v-model="ccDefault" />

            <button @click="paymentSave()">Save</button>
            <button>Cancel</button>
        </form>

    </div>
</template>

<script>
export default {
    name: 'PaymentAddNewForm',
    data() {
        return {
            ccName: null,
            ccNumber: null,
            ccType: null,
            ccExpiration: null,
            ccDefault: false,
            paymentDetails: {}
        };
    },
    methods: {
        paymentSave() {
            this.paymentDetails = {
                ID: '003',
                name: this.ccName,
                number: this.ccNumber,
                type: this.ccType,
                expiration: this.ccExpiration,
                default: this.ccDefault
            };
            this.$store.dispatch('paymentSave', this.paymentDetails);
        }
    }
};
</script>
