<template>
   <div>
       <a class="ac-payment-make-default" @click="paymentMakeDefault(payment)">make default</a>
   </div>
</template>

<script>

export default {
    name: 'PaymentMakeDefault',
    props: ['payment'],
    methods: {
        // @TODO: reorder payment elements
        paymentMakeDefault(payment) {
            this.$store.dispatch('paymentMakeDefault', payment.ID);
        }
    }
};
</script>
