<template>
   <div>
       <a class="ac-payment-remove" @click="paymentRemove(payment)">remove</a>
   </div>
</template>

<script>

export default {
    name: 'paymentRemove',
    props: ['payment'],
    methods: {
        paymentRemove(payment) {
            this.$store.dispatch('paymentRemove', payment);
        }
    }
};
</script>
