<template>
    <div class="ac-payment-add-wrapper">
        <div class="ac-payment-add-cta" @click="addNewPayment = !addNewPayment">Add new payment</div>
        <PaymentAddNewForm v-show="addNewPayment"/>
    </div>
</template>

<script>
import PaymentAddNewForm from '../payments/PaymentAddNewForm.vue';
export default {
    name: 'PaymentAddNew',
    components: { PaymentAddNewForm },
    data() {
        return {
            addNewPayment: false
        };
    }
};
</script>
