<template>
    <div class="ac-payment-list">
        <h3>All Payments</h3>
        <PaymentAddNew />
        <div class="ac-payment" v-for="(payment,key) in payments" :key="key">
            <Payment :payment="payment" />
            <PaymentMakeDefault :payment="payment" v-if="payment.default != true" />
            <PaymentRemove :payment="payment" />
        </div>
    </div>
</template>

<script>
import Payment from '../payments/Payment.vue';
import PaymentMakeDefault from '../payments/PaymentMakeDefault.vue';
import PaymentRemove from '../payments/PaymentRemove.vue';
import PaymentAddNew from '../payments/PaymentAddNew.vue';

export default {
    name: 'PaymentList',
    components: { Payment, PaymentMakeDefault, PaymentRemove, PaymentAddNew },
    props: ['payments']
};
</script>
