<template>
    <div class="ac-addresses">
        <AddressList :addresses="this.$store.state.user.userAddresses" />
    </div>
</template>

<script>
import AddressList from '../components/addresses/AddressList.vue';

export default {
    name: 'AddressPage',
    components: { AddressList }
};
</script>
