<template>
    <div class="ac-widgets">
        <!--
                @TODO: display alert message when user has address but none of them is default
        -->
        <div class="ac-widget ac-widget-address">
            <h3>Your addresses</h3>
            <Address :address="defaultAddress" v-if="defaultAddress"/>
            <div v-else>
                <div
                v-if="this.$store.state.user.userAddresses[0]"
                >You have addresses but none of them is default</div>
                <div v-else>You have no addresses</div>
            </div>
            <router-link to="/addresses">see more</router-link>
        </div>

        <!--
                @TODO: display alert message when user has payments but none of them is default
        -->
        <div class="ac-widget ac-widget-payment">
            <h3>My credit cards</h3>
            <Payment :payment="defaultPayment" v-if="defaultPayment"/>
            <div v-else>
                <div
                v-if="this.$store.state.user.userPayments[0]"
                >You have credit cards but none of them is default</div>
                <div v-else>You have no credit cards</div>
            </div>
            <router-link to="/payments">see more</router-link>
        </div>
    </div>
</template>

<script>
import Address from '../components/addresses/Address.vue';
import Payment from '../components/payments/Payment.vue';

export default {
    name: 'Landing',
    components: { Address, Payment },
    computed: {
        defaultAddress() {
            return this.$store.getters.defaultAddress;
        },
        defaultPayment() {
            return this.$store.getters.defaultPayment;
        }
    }
};
</script>
