<template>
    <div>
        <PaymentList :payments="this.$store.state.user.userPayments" />
    </div>
</template>

<script>
import PaymentList from '../components/payments/PaymentList.vue';
export default {
    name: 'PaymentPage',
    components: { PaymentList }
};
</script>
