<template>
    <div id="app">
        <div id="nav">
            <router-link to="/landing">Landing</router-link>|
            <router-link to="/addresses">Addresses</router-link>|
            <router-link to="/payments">Payments</router-link>
        </div>
        <router-view/>
    </div>
</template>

<script>
export default {
    name: 'AppAccount'
};
</script>